* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}

/* ID (alta especificidade) */
#cabecalho-principal {
  background-color: #2c3e50;
  color: white;
  padding: 20px; /* Shorthand */
}

main {
  padding: 20px;
}

footer {
  background-color: #34495e;
  color: white;
  padding: 20px; /* Shorthand */
}

/* Filho Direto (>) */
header > p {
  font-style: italic;
  font-size: 0.9em;
}

/* Descendente (espaço) */
footer a {
  color: #76c7c0;
}

/* Regra de Tag (baixa especificidade) */
article p {
  color: gray;
}

/* Regra de Classe (média especificidade) */
/* Vence 'article p' */
.destaque {
  color: blue; 
  font-weight: bold;
  /* Esta regra será SOBRESCRITA pelo estilo INLINE (style="color: brown;") */
}

/* Seletor de Classe */
/* Será SOBRESCRITO pelo estilo INTERNO (<style>) */
.titulo-noticia {
  color: green; 
}

/* Seletor de Atributo */
input[type="email"] {
  border: none;
  border-bottom: 2px solid green; 
  padding: 5px;
}

/* Irmão Adjacente (+) */
h2 + p {
  margin-top: 10px;
}