/* Arquivo style.css para o Projeto Portfólio */

body {
  background-color: #F4F4F4;
  color: #333;
  font-family: Arial, sans-serif;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
  color: #2c3e50;
}

main {
  width: 90%;
  margin: 20px auto; /* Centraliza o conteúdo principal */
}

section {
  background-color: white;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #ddd;
}

article {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

aside {
  background-color: #FFFBEA;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #eee;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background-color: #2c3e50;
  color: white;
}

img {
  display: block;
  margin: 10px auto;
}